.founder_container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    margin-top: 40px;
}

.picture_container {
    overflow: hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.69);
}
.picture_container img {
    width: 200px;
    
}

.founder_data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: 'Josefin Sans', sans-serif;
}

/*  */

.mv_container {
    display: grid;
    grid-template: 1fr / 1fr 1px 1fr;
    margin-top: 40px;
}

.mv {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.mv h1 {
    font-size: xx-large;
    font-family: 'Hind Siliguri', sans-serif;
}

.mv p {
    font-size: x-large;
    padding: 50px;
}

.us_borders {
    border-left: 1px solid black;
}

/*  */

.porpose {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    border-top: 1px solid black;
}

.porpose p {
    font-size: larger;
}

/* MQ */

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .founder_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mv_container {
        display: block;
    }

    .us_borders {
        border: none;
    }

    .porpose p {
        text-align: center;
    }
    
    .mv {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .mv p {
        padding: 0;
        font-size: 20px;
    }

}

@media screen and (max-width: 320px) {

}
